.avatar-circle {
  background-color: #1f6cfa;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 0.9rem;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin-right: 5px;
}