.btn {
  font-weight: 700;
  letter-spacing: -0.32px;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  background-color: var(--color-medium-gray);
  cursor: pointer;
  &:hover {
    opacity: 0.75;
  }
}

.btn--primary {
  background-color: var(--color-orange);
  color: white;
}