.dashboard__label {
  font-weight: 500;
  font-size: 17px;
  color: #909090;
  letter-spacing: -0.36px;
}

.dashboard__value {
  font-weight: 500;
  font-size: 30px;
  color: #104447;
}

.dashsboard__top-row {
  display: flex!important;
  justify-content: space-between;
}

.dashboard__edit {
  border-bottom: 2px dotted var(--color-orange);
}

.underline-value {
  width: fit-content;
  position: relative;
  //border-bottom: 1px solid #104447;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--color-orange);
    margin-top: -5px;
  }
}

.dashboard__value--small {
  color: #698b64;
  font-size: 24px !important;
}

.dashboard__level-tag {
  margin-left: 5px;
  color: rgb(0, 0, 0);
}

.dashboard__group {
  margin-bottom: 2rem;
}

.aux-icon {
  margin-right: 1rem;
  svg {
    width: 70px;
    max-height: 70px;
  }
}

.badge__item {
  display: flex; 
}

.badge__days--p {
  margin-bottom: 0;
}

.badge__description {
  margin: 0;
}

.dashboard__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 3rem;
}

.dashboard__first-section {
  margin-top: -1rem;
}

.health-badge {
  display: flex;
  padding: 1rem;
  border-radius: 7px;
  border: 1px solid #e2ebee;
  margin-bottom: 1.5rem!important;
}

.health-badge__progress {
  margin-top: -1rem;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
}


.health-badge__sr-only {
  width: 180px;
  text-align: right;
}


.progress-bar__container {
  width: 100%;
  display: flex;
  align-items: center;
}
.health-badge__progress-bar {
  height: 10px;
}


.health-badge__title {
  font-weight: 600;
}

.dashboard__readmore {
  color: #545454;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.38px;
  margin-bottom: 1rem;
}

@media (min-width: 1068px) {
  .dashboard__value {
    font-size: 33px;
  } 
  .text-right-lg {
    text-align: right;
  }

  .health-badge {
    min-height: 115px;
  }

  .dashboard__group {
    margin-bottom: 0.5rem;
}
}