.top-app_description {
  height: 2rem;
  overflow: hidden;
  svg {
    min-height: 3rem;
  }
}

.section-homepage__description {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;

}

.section-homepage__column {
  width: 100%;
  min-width: 250px;
}

.section-homepage__column-img {
  max-width: 300px;
  width: 100%;
  display: block;
  margin: 0 auto;
}


.homepage-description p, 
.homepage-description ul,
.homepage-description ol {
  font-size: 20px;
  line-height: 30px;
  font-weight: 100;
  letter-spacing: -1px;
  color: #505050;
  margin: 1rem 0;
}

.homepage-subtitle__h3 {
  font-size: 22px;
  letter-spacing: -1.25px;
  font-weight: 500;
}


.whole-container {
  padding: 1rem 0;
  background-color: #F2EEE1;
}

.homepage__statics-title {
  text-align: center;
  font-size: 22px;
  max-width: 804px;
  letter-spacing: -1.12px;
  margin: 2rem auto 4rem auto;
  letter-spacing: -1.12px;
  line-height: 32px;
}

@media (min-width: 479px) {

}

@media (min-width: 767px) {
  .whole-container {
    padding: 2.5rem 0;
  }

  .section-homepage__column {
    width: 50%;
  }
 
  .top-app_description{
    svg {
      width: 100%;
    }
  }
  .homepage__statics-title {
    font-size: 34px;
    line-height: 40px;
  }
  .homepage__subtitle{
    font-size: 32px;
    letter-spacing: -1.25px;
  }

  .section-homepage__description {
    padding: 3rem 0;
  }
}