.general-form {
  justify-items: stretch;
  grid-row-gap: 10px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  display: grid;
  max-width: 900px;
  margin-top: 1rem;
}

input {
  min-height: 36px;
  margin-bottom: 0px;
  padding: 1px 18px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  transition: border-color 200ms ease;
  box-sizing: border-box;
}

label {
  font-size: 16px;
  font-style: normal;
  color: #545F71;
  font-weight: 500;
  display: block;
  margin-bottom: 1rem;
  letter-spacing: -0.32px;
}

.input-group {
  margin-bottom: 1rem;
}

.w-input {
  width: 100%;
}