.skeleton {
  opacity: .7;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton--navbar {
  height: 1.2rem;
  width: 10rem;
  margin: 0.5rem 0;
}

.skeleton--badge {
  height: 4rem;
  width: 100%;
  max-width: 300px;
}

.skeleton-line-short {
  height: 1.2rem;
  max-width: 300px;
}


.skeleton-line-medium {
  height: 1.2rem;
  max-width: 350px;
}

.skeleton--badge-large {
  height: 4rem;
  max-width: 350px;
}

.skeleton-group {
  margin-bottom: 1rem;
}

.skeleton-row {
  display: flex;
  gap: 1rem;
}

.loading-page {
  position: absolute;
  top: 0;
  width: 100vw;
  left: 0;
  background: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}


