.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -0.6px;
  a {
    text-decoration: none;
  }
}

.navbar__version {
  font-size: 12px;
  font-weight: 500;
  color: #545F71;
  letter-spacing: -0.28px;
  margin-right: 1rem;
}

nav {
  box-shadow: 0 1px 3px 0 #d4d9e1;
    dl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }
}

.navbar__user {
  gap: 6px;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-right: 1rem;
  font-weight: 500;
}